.App {
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/appbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.qcontainer {
  border: 9px solid;
  height: 35vw;
  width: 70vw;
  border-radius: 30px;
}
