@font-face {
  font-family: "Do Hyeon";
  src: url("../fonts/DoHyeon-Regular.ttf") format("truetype");
}
.question {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}
.firstq > p.me {
  margin-top: 10%;
  font-size: 1vw;
}
.question > p {
  font-family: "Do Hyeon";
}
.firstq {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.firstq > p {
  font-family: "Do Hyeon";
  font-size: 6vw;
  margin: 0;
}
.start {
  margin-top: 20px;
  min-width: 40px;
  width: 10%;
  height: 12%;
  border-radius: 20px;
  outline: none;
  font-size: 2vw;
}
.start:hover {
  cursor: pointer;
}
.btnnext {
  width: 10%;
  height: 10%;
  border-radius: 20px;
  margin-bottom: 10px;
  outline: none;
}
.surveycontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Personal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.personal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.qcontentcontainer {
  height: 20%;
  margin: 0;
  display: flex;
}
.personal > * {
  margin: 5px 0;
}
.qcontent {
  margin: 0;
  text-align: center;
}
.next {
  margin-top: 20px;
  min-width: 40px;
  width: 10%;
  height: 12%;
  border-radius: 20px;
  outline: none;
  font-size: 2vw;
}
@media only screen and (max-width: 768px) {
  .firstq > p {
    font-size: 9vw;
  }
  .firstq > p.me {
    margin-top: 10%;
    font-size: 3vw;
  }
  .start {
    width: 30%;
    font-size: 1em;
  }
  .next {
    width: 20vw;
    height: 5vh;
    font-size: 3vw;
  }
}
